{% block content %}
{% csrf_token %}

<nav>
    {% if user.job_type == "office_manage" %}
    <h3 class="nav-title">Te<span class="text-primary">a</span>m<span class="text-primary">05</span> </h3>
    <ul>
        <li><a href="{% url 'deshboardPage' %}">Home</a></li>
        <li><a href="{% url 'view_taskPage' %}">Tasks</a></li>
        <li><a href="{% url 'view_team_member_page'%}">Teams</a></li>
        <li><a href="#reports">Reports</a></li>
        <li><a href="{% url 'profilePage'%}">Profile</a></li>
        <li><a href="{% url 'logoutPage' %}">Logout</a></li>
    </ul>


    {% elif user.job_type == "administrative_assistant" %}
    <h3 class="nav-title">Rid<span class="text-primary">o</span>y</h3>

    <ul>
        <li><a href="{% url 'deshboardPage' %}">Home</a></li>
        <li><a href="{% url 'view_taskPage' %}">Tasks</a></li>
        <li><a href="{% url 'view_team_member_page'%}">Teams</a></li>
        <li><a href="{% url 'contactUs_Page'%}">Contacts</a></li>
        <li><a href="#documents">Documents</a></li>
        <li><a href="{% url 'profilePage'%}">Profile</a></li>
        <li><a href="{% url 'logoutPage' %}">Logout</a></li>
    </ul>



    {% elif user.job_type == "executive_assistant"%}
    <h3 class="nav-title">Rid<span class="text-primary">o</span>y</h3>

    <ul>
        <li><a href="{% url 'deshboardPage' %}">Home</a></li>
        <li><a href="{% url 'view_taskPage' %}">Tasks</a></li>
        <li><a href="{% url 'view_team_member_page'%}">Teams</a></li>
        <li><a href="#meetings">Meetings</a></li>
        <li><a href="{% url 'contactUs_Page'%}">Contacts</a></li>
        <li><a href="{% url 'profilePage'%}">Profile</a></li>
        <li><a href="{% url 'logoutPage' %}">Logout</a></li>
    </ul>


    {% elif user.job_type == "receptionist"%}
    <h3 class="nav-title">Rid<span class="text-primary">o</span>y</h3>
    <ul>
        <li><a href="{% url 'deshboardPage' %}">Home</a></li>
        <li><a href="{% url 'view_taskPage' %}">Appointments</a></li>
        <li><a href="{% url 'view_team_member_page'%}">Teams</a></li>
        <li><a href="#guests">Guests</a></li>
        <li><a href="{% url 'message_Page'%}">Messages</a></li>
        <li><a href="{% url 'profilePage'%}">Profile</a></li>
        <li><a href="{% url 'logoutPage' %}">Logout</a></li>
    </ul>

    {% endif %}
</nav>



{% endblock %}